{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}









<div class="border p-4 mb-5 ">
    <h3 class="border-bottom pb-2 mb-3">تعديل الملف الشخصي</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {{user_form|crispy}}
        <!-- {{profile_form|crispy}} -->
        <div>
            <span style="display: block;" class="mb-2 mt-2">صورة الملف الشخصي *</span>
            <br>
            الصورة الحالية : <a href="{{user.profile.image.url}}" target="blank">{{user.profile.image}}</a>
            <br>
            <label for="image" class="mt-4" style="cursor: pointer; background-color: black;color: white; padding: 5px; border-radius: 7px;">إختيار الصورة</label>
            <input type="file" name="image" id="image" accept="image/*" style="display: none;">
        </div>
        <input type="submit" value="حفظ التعديلات !" class="btn btn-secondary m-3 mt-4">
    </form>
    <div class="border-top mt-3 pt-3">
        <small>إذا كان لديك حساب من قبل يمكنك  <a class="" style="background-color:rgb(46, 20, 20); padding-top: 1.px; padding-bottom: 1px; padding-left: 3px ; padding-right: 3px; border-radius: 5px; color: rgb(255, 255, 255) " href="{% url 'login' %}"> تسجيل الدخول</a></small>
    </div>
</div>


{% endblock content %}